.main-page {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.left-side {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;

}
.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.main-text {
    font-size: 40px;
    align-self: center;
    padding: 10px;
    color: green;
}

.links-list {
    padding-left: 10%
}
